extends layout

block content
  .container.mt-5
    h1 Over deze applicatie
    p Deze webapplicatie is gemaakt door Stan Braks als opdracht. Alles wat je hier ziet is custom gebouwd, overzichtelijk en functioneel.
    h2 User Stories
    ul
      li Als klant wil ik kunnen inloggen en registreren zodat ik films kan huren.
      li Als klant wil ik mijn gehuurde films kunnen bekijken zodat ik overzicht heb.
      li Als klant wil ik mijn profiel kunnen bewerken zodat mijn gegevens up-to-date zijn.
      li Als klant wil ik mijn account kunnen verwijderen, mits ik geen openstaande boekingen heb.
    h2 Acceptatiecriteria
    ul
      li Gebruikers kunnen zich registreren en inloggen.
      li Gebruikers kunnen films bekijken en huren.
      li Gebruikers kunnen hun profiel bewerken.
      li Gebruikers kunnen hun account verwijderen als er geen openstaande boekingen zijn.
      li Alle pagina's worden server-side gerenderd.
      li De applicatie gebruikt JavaScript, MySQL en Bootstrap.
