extends ../layout

block content
  .container.mt-5.text-center
    h1.text-danger 404 - Pagina niet gevonden
    p De pagina die je zoekt bestaat niet (meer).
    a.btn.btn-primary.mt-3(href="/") Terug naar Home
