extends ../layout

block content
  .container.mt-5.text-center
    h1.text-danger 500 - Serverfout
    p Er is iets misgegaan aan onze kant. Probeer het later opnieuw.
    a.btn.btn-primary.mt-3(href="/") Terug naar Home
